@charset "UTF-8"; 

/* Ajuda de formulário */ 
.helptext { 
    font-size: 10px; 
} 

/* Lista de erros no formulário */ 
.errorlist { 
    color: #FF0000;  
    list-style-type: none; 
} 
/* somente th dentro de uma tag da classe formulário */ 
.formulario th { 
    text-align: right;  
    vertical-align: text-top; 
}

body {
    background-color: #00FFFF;
    font-family: Arial, Helvetica, sans-serif
}

.logo {
    max-width: 10%;
  }

.logo_navbar {
    max-width: 5%;
}

/* Style buttons */
.btn {
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #00d0ff;
}

h2.negrito {
    font-weight: bold;
}

h5.negrito {
    font-weight: bold;
}

div.tam-formulario {
    max-width: 500px;
}
