{% extends 'psiuApp/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %} 

<div class="container text-center">
  <br>
  <img src="{% static imagem_atividade %}" alt="Imagem da atividade">
  <h4 class="text-center lh-sm">Criação de atividade: {{ nomeAtividade }}</h4>
</div>
<br>
<div class="container text-center tam-formulario">
  <form action="" method="POST" class="text-center"> 
    {% csrf_token %} 
    {{ formulario|crispy }} 
    <a type="button" class="btn btn-danger ml-3" href="{% url 'psiuApp:lista-atividades' tipo=tipoAtividade %}">Cancelar</a> 
    <button type="submit" class="btn btn-success ">Cria Atividade</button>
  </form> 
</div>
{% endblock %}