{% extends 'psiuApp/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Registro de Usuário{% endblock %} 

{% block content %} 

{% include 'psiuApp/greeting_psiu.html' %}
<h4 class="text-center lh-sm">Seja muito bem vindo! Registre-se!</h4>
<br>
<div class="container text-center tam-formulario">
    <form method="post"> 
        {% csrf_token %} 
        <table class="formulario"> 
        {{ form|crispy }} 
        <tr> 
            <td></td> 
            <button type="submit" class="btn btn-success ">Registrar</button>
        </tr> 
        </table> 
    </form> 
</div>
{% endblock %} 