{% extends 'psiuApp/base.html' %}


{% block title %}Recuperar Senha{% endblock %} 
{% block content %} 

{% include 'psiuApp/greeting_psiu.html' %}
<h4 class="text-center lh-sm">Te enviamos um e-mail!</h4>
<br>
<div class="text-center">
    <p>Enviamos-lhe instruções por e-mail para definir sua senha se existir uma conta com o e-mail digitado. Você deve recebê-las em breve. </p> 
    <p>Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou e verifique sua pasta de spam. </p> 
</div>
{% endblock %} 